* {
  margin: 0;
}
body {
  background-image: url("/public/2666472.jpg");
}

#titulo {
  text-align: center;
  margin-top: 10px;
  font-size: 70px;
}

form {
  margin-left: 20%;
  margin-top: 15px;
}

#senha {
  margin-left: -1px;
  margin-top: 1px;
  height: 30px;
  border-radius: 10px;
}

#usuario {
  height: 30px;
  border-radius: 10px;
}
#label_usuario {
  margin-left: 3px;
}

#label_senha {
  margin-left: 3px;
  margin-top: 20px;
}

#btn {
  margin-left: 34px;
  margin-top: 8px;
  margin-bottom: 30px;
  width: 90px;
  border-radius: 5px;
  background-color: rgb(86, 219, 126);
}

#btn:hover {
  transition-duration: 0.4s;
  box-shadow: 4px 2px 2px black;
}

img {
  margin-top: 40px;
  margin-left: 35%;
  height: 120px;
  border-style: solid;
  box-shadow: 5px 10px 10px black;
  border-radius: 10px;
}

#login {
  box-shadow: 10px 10px 10px black;
  border-style: solid;
  border-radius: 20px;
  margin-left: 580px;
  margin-right: 580px;
  margin-top: 50px;
}
